chromadb==1.0.10
click==8.2.1
matplotlib==3.9.2
numpy==1.26.4
ollama==0.4.8
openai==1.82.0
pandas==2.2.3
pexpect==4.9.0
pygraphviz==1.11
pymavlink==2.4.42
scipy==1.14.1
html5lib==1.1
scikit-learn==1.7.0
#networkx==3.4.2
colorama==0.4.4
symforce==0.10.1
opencv-python==4.11.0.86
wxPython==4.2.3
wllvm==1.3.1
lit==18.1.8
tabulate==0.9.0
langchain==0.3.27